snippet un "Unit" i
 % [$1] $0 
endsnippet

snippet class "Class" b
classdef $1
    properties
        
    end

    methods

    end
end
endsnippet

snippet pf "Print formatted string" b
fprintf("$1 %$2 \n", $3)
endsnippet
